<!DOCTYPE html>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
       <div class="panel panel-default">
           <div class="panel-body">
               <p class="alert-dismissable">Estimado usuario, en el siguiente link podra acceder a la informacion solicitada</p>
           </div>
           <div class="panel-body">
               <a href="Redirect.cshtml?destination=Destination.cshtml">Por favor de click aqui</a>
           </div>
</div>
    </div>
</body>
</html>
